.container {
    margin: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 10%; /* changed from vh to % to mitigate iPhone vh handling */
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #909CAC;
}
.headerGlyph {
    margin-left: 5vw;
    width: 5vh;
    height: 5vh;

    color: white;
}
.headerText {
    margin-left: 5vw;
    font-family: Roboto, sans-serif;
    font-size: 4vh;

    color: white;
}