.container {
  width: 100vw;
  height: 90%;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

.bagCard {
  height: fit-content;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
}

.bannerText {
  height: 4vh;
  margin-bottom: 1vh;
  margin-top: 0px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #909CAC;
}

.bagInfo {
  width: calc(100vmin - 40px);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.bagTextBlock {
  margin-left: 20px;
  
  height: 100px;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bagBrand {
  margin: 0px;
  font-size: 32px;
}

.bagRoastName {
  margin: 0px;
  font-size: 22px;
}

.bagRoastLevel {
  margin: 0px;
  font-size: 18px;
}

.bagImage {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  height: 240px;
  width: 240px;
  border: 0px;
  background-color: #ECDAB9;
  color: #A47053;
  border-radius: 50%;

  font-family: Roboto, sans-serif;
  font-size: 32px;

  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.button:active {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.01);
  opacity: 0.4;
}

.buttonClicked {
  height: 240px;
  width: 240px;
  border: 0px;
  background-color: #ECDAB9;
  color: #A47053;
  border-radius: 50%;

  font-family: Roboto, sans-serif;
  font-size: 32px;

  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.01);
  opacity: 0.4;
}

.refillButton {
  height: 5vh;

  font-family: Roboto, sans-serif;
  font-size: 18px;

  color: #909CAC;
}
